# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [18]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.loc[:, 'mpg':'car']

### Step 5. What is the number of observations in each dataset?

In [14]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [16]:
cars = pd.concat([cars1, cars2])

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [20]:
nr_owners = np.random.randint(15000, 73000, 398, dtype='l')
nr_owners

array([27226, 18000, 28317, 58962, 55652, 48395, 39588, 16483, 21009,
       18732, 25116, 29096, 28167, 26744, 62377, 65256, 49385, 39360,
       41544, 20603, 28946, 52533, 42729, 46002, 36609, 50948, 46833,
       27878, 60721, 61427, 52684, 34971, 17904, 51354, 28019, 35552,
       16510, 36728, 71582, 40368, 69412, 53909, 72688, 52390, 60000,
       71927, 65958, 55443, 54417, 32345, 55867, 36692, 32267, 55291,
       28327, 15890, 59668, 28264, 38679, 67474, 45944, 32689, 57551,
       67902, 42459, 25042, 38548, 42186, 72639, 54067, 53575, 49293,
       59280, 39641, 60997, 39076, 44568, 59444, 36410, 65773, 20613,
       28218, 46439, 64054, 55419, 46398, 23298, 34673, 51550, 71595,
       52925, 61368, 47020, 47627, 56406, 25175, 58198, 28092, 46659,
       39086, 26331, 16638, 39550, 60708, 69097, 15500, 69760, 48308,
       51366, 70927, 64492, 48931, 54551, 26604, 52857, 26354, 29450,
       72224, 17814, 27808, 45432, 56129, 53674, 25345, 28232, 48352,
       16549, 54080, 21586, 46378, 40120, 69490, 66058, 48039, 24919,
       54341, 15120, 21406, 46813, 38782, 52650, 53771, 18659, 56184,
       70712, 23842, 70115, 27225, 31254, 52645, 27933, 25692, 64211,
       37508, 55476, 34690, 54164, 42774, 66319, 41757, 39873, 38869,
       37477, 36328, 15606, 27559, 45545, 56619, 26569, 48521, 26270,
       48313, 28474, 45031, 52376, 68187, 42071, 47020, 18553, 28584,
       42713, 33577, 32146, 17416, 25118, 41699, 30337, 35815, 37832,
       41599, 63036, 51903, 70435, 38369, 28829, 22505, 19583, 27044,
       18526, 56792, 65806, 42740, 45558, 19476, 45299, 19023, 72841,
       60206, 27116, 41066, 61575, 30281, 64460, 65786, 66234, 40008,
       53561, 43674, 66351, 61748, 66690, 69535, 22486, 38312, 40585,
       31582, 54129, 52448, 23113, 17473, 56424, 72850, 20739, 32516,
       32728, 46580, 26639, 72674, 71068, 45799, 58666, 63618, 36610,
       48206, 64294, 69299, 35108, 22852, 26125, 59242, 37101, 68082,
       70040, 16686, 29551, 56214, 48214, 72270, 57492, 28029, 58450,
       26909, 47093, 46598, 45223, 27355, 66841, 64910, 55907, 32847,
       46847, 50106, 31113, 28701, 21444, 63652, 71788, 42169, 66295,
       31562, 55321, 47865, 28584, 56761, 35114, 15947, 71917, 44362,
       45481, 34073, 56663, 36577, 50132, 43414, 44929, 34405, 22058,
       63456, 38670, 54356, 39238, 47258, 53830, 47833, 22649, 43240,
       26604, 48186, 35707, 65341, 51615, 28747, 36558, 45415, 17387,
       28380, 34638, 71350, 25357, 27965, 19792, 56500, 49215, 62416,
       39426, 20717, 22087, 33836, 70451, 54449, 33029, 39214, 28629,
       38010, 18336, 71117, 47363, 66168, 29717, 21074, 37243, 36543,
       23924, 34315, 16810, 30949, 31378, 65906, 21151, 56188, 25641,
       19425, 30419, 56968, 23040, 19538, 16531, 18029, 49911, 32791,
       42401, 49505, 33210, 58367, 21017, 68159, 21293, 61992, 20863,
       71896, 21872, 51965, 25355, 26727, 31220, 45530, 27801, 20095,
       51386, 46031, 44163, 18958, 56242, 37407, 53165, 25308, 35448,
       48218, 23825, 43721, 17129, 70047, 37588, 39645, 30850, 69310,
       50253, 55995])

### Step 8. Add the column owners to cars

In [21]:
cars['owners'] = nr_owners